*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0; 
  height: 95vh;
  font-size: 1.4vh;
  background-color: #212529!important;
} 

:root {
  color-scheme: dark;
}

.gold {
  color: #FFD700!important;
}

.green {
  color: #16F529;
}

.red {
  color: #FD1C03;
}

.grey {
  color: #DFE3E3;
}

Button {
  color: white!important;
}

.modal-content {
  border-radius: 10px!important;
  background-clip: padding-box!important;
}

.invisible-placeholder {
  visibility: hidden;
  width: 0px;
  height: 50px;
}

.listHeight {
  height: 300px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
  .ag-theme-balham-dark .ag-cell {
    font-size: 1em;
}
}
